body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

header {
    background-color: #c40902;
    color: rgb(0, 0, 0);
    padding: 15px;
    text-align: center;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #ff0000;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #2e5ca4;
}

#resultadoSection {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    margin: 20px auto;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#datosEstudiante {
    background-color: #e3f2fd;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    margin: 20px auto;
    text-align: center;
}